#connection-bg{
    background-image: url("../../images/bg-food.jpg");
    background-position: right;
    background-repeat: no-repeat;
    
    height: 80%;

    border-top: 5px white solid;
    border-bottom: 5px white solid;
}

#connection-box{
    background-color: #146c43;

    height: 100%;
    width: 100%;
    
}