#ask-bg, #recipe-bg{
    /* background-image: url("../../images/bg-food.jpg");
    background-position: right;
    background-repeat: no-repeat; */
    
    background-color: rgb(222, 220, 220);
    
    height: 80%;

    border-top: 5px white solid;
    border-bottom: 5px white solid;
}

#ask-box, #recipe-box{
    background-color: #146c43;

    height: 100%;
    width: 100%;
    
}

#recipe-card{
    padding: 0;
    margin-bottom: 15px;
}

#recipe-title{
    font-weight: bold;
    font-size: 1.2em;
}

#spinner{
    height: 3em;
    width: 3em;
}

